.page {
    align-items: center;
    flex-direction: column;
    // background-color: #2874f0;
    // background-image: linear-gradient(to right, #86a1ce, #2874f0 );
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    color: #2874f0;
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #2874f0;
  }
  
  .input-field {
    margin-bottom: 25;
  }
  .input {
    font-size: 18;
    placeholder-color: #A8A8A8;
  }
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  
  .btn-primary {
    margin: 30 5 15 5;
  }
  
  .login-label {
    horizontal-align: right;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000; 
  }
  .btn-primary {
    height: 50;
    background-color: #2874f0;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
    color: white;
  }
  .btn-primary:disabled {
    opacity: 0.5;
  }

  .loginlable{
      text-align: center;
      font-size: 15px;
      font-weight: 500;
  }

  DataFormEditorCore {
    background-color: #f1f3f6;
    font-size: 15px;
}
DataFormEditorLabel {
    font-size: 16px
}