<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label fontsize="22" text="Select Brand / Model" class="action-bar-label pull-left"></Label>

</ActionBar>

<StackLayout class="page">

    <GridLayout class="p-10" columns="*" rows="auto,auto">
        <Label col="0" row="0" class="font-weight-bold header" fontSize="15" text="Brand / Model"></Label>
        <GridLayout (tap)="onBrandModelTap()"  col="0" row="1" orientation="horizontal" class="list-group-item brandclass"
            rows="auto,auto" columns="auto,auto,*,auto">
            <Label col="1" row="0" [text]="brandmodal" fontSize="17"></Label>
            <Label col="3" row="0" horizontalAlignment="right" color="#b9b9b9" paddingRight="2"
                class="fas nt-icon" text="&#xf061;"></Label>
            <StackLayout colSpan="4" col="0" row="2" height="2" backgroundColor="#b9b9b9"></StackLayout>
        </GridLayout>
    </GridLayout>
</StackLayout>
<FlexboxLayout verticalAlignment="bottom" justifyContent="center" height="10%" marginBottom="10">
    <Button class="btn" fontWeight="600" backgroundColor="#2874f0" color="#FFFFFF" fontSize="17" text="Next"
        width="100%" (tap)="onNextTap()"></Button>
</FlexboxLayout>