.cost{
    font-weight:600;
    font-size:16px 
}

.title{
    font-size:15px 
}

 
.location .postdate{
    font-size:11px 
}
.listclass{
    padding: -10px;
    margin: -10px;
}

ActionBar{
    background-color:transparent;
  }

DataFormEditorCore {
    background-color:  rgba(240, 239, 247, 0.74);
    font-size: 15px;
}
DataFormEditorLabel {
    font-size: 16px
}