.cost{
    font-weight:600;
    font-size:16px 
}

.title{
    font-weight:600;
    font-size:14px 
}

 
.location .postdate{
    font-size:11px 
}
.imageclass{
    border-width: 5px;
    border-color: rgba(112, 104, 104, 0.867);
}

.login-input-field {
    color:#527796;
    border-width: 1; 
    border-color:rgba(223, 217, 217, 0.867);
    background-color:#FFFFFF; 
    vertical-align: middle;
    padding-left:15; padding-right: 15;
    font-size: 18;
    // height: 10px;
  }

//   .range-seek-bar {
//     bar-color: #8990C4;
//     bar-highlight-color: #2874f0;
//     thumb-color: #2874f0;
//     bar-height: 10;
//     corner-radius: 30;
// }

.slider{
  padding: 23px 70px;
}

.filterpagepadding{
  padding-top: 90px;
  padding-bottom: 20px;
}
 
.times {
  background:white;
  border-bottom-width: 5px;
  border-bottom-color: #e2e6ec;
}

.header{
  margin-top:10px;
  padding-left: 50px;
  font-size:16px;
  color:#333333
} 
.brandclass{

  padding-right: 50px;
  padding-left: 50px;
}