.detailslist{
    padding:20px 50px;
}
.header {
    font-size: 18;
    color: #ffffff;
    min-width: 240;
    background-color:#2874f0 ;
    font-weight: bold;
    padding: 20px 27px;
    
}

.deatilsbody{
    background-color:#ffffff ;
    margin: 50px;
    border-radius: 5px;
    border: #2874f0;
    border-width: 1px;
}

.btndelivered{
    background-color: #5cb85c;
    color: #ffffff;
    width: 400px;
    // font-size: 17;
    height: 150px;
}