<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>

    <Label  fontsize="22" text="Details"></Label>
</ActionBar>


<ScrollView backgroundColor="#f8f8f8" orientation="vertical">

    <StackLayout>
        <StackLayout class="deatilsbody">
                <Label text="Summary" class="header"></Label>
            <GridLayout columns="75,auto,*" class="detailslist">
                <Label col="0" textWrap="true" text="Name" class=""></Label>
                <Label col="1" textWrap="true" text=":-" class=""></Label>
                <Label col="2" textWrap="true" text="Jack manaaa" class="p-l-15"></Label>
            </GridLayout>

            <GridLayout columns="75,auto,*" class="detailslist">
                <Label col="0" textWrap="true" text="Phone no" class=""></Label>
                <Label col="1" textWrap="true" text=":-" class=""></Label>
                <Label col="2" textWrap="true" text="(555) 555-1234" class="p-l-15"></Label>
            </GridLayout>

            <GridLayout columns="75,auto,*" class="detailslist">
                <Label col="0" text="Address" class=""></Label>
                <Label col="1" text=":-" class=""></Label>
                <Label col="2" textWrap="true" text="P.O. Box 887 2508 Dolor" class="p-l-15"></Label>
            </GridLayout>
            <GridLayout columns="75,auto,*" class="detailslist">
                <Label col="0" text="Restaurant" class=""></Label>
                <Label col="1" text=":-" class=""></Label>
                <Label col="2" textWrap="true" text="Mama's Fish House" class="p-l-15"></Label>
            </GridLayout>
            <GridLayout columns="75,auto,*" class="detailslist">
                    <Label col="0"  textWrap="true" text="Ordered Details" class=""></Label>
                    <Label col="1" text=":-" class=""></Label>
                    <Label col="2" textWrap="true" text="Veg Dum Biryani, Chiken Dum Biryani, Veg Dum Biryani, Chiken Dum Biryani" class="p-l-15"></Label>
                </GridLayout>
            <GridLayout columns="75,auto,*" class="detailslist">
                <Label col="0" text="Ordered Date" class=""></Label>
                <Label col="1" text=":-" class=""></Label>
                <Label col="2" text="12:48 am , 2 March 2020" class="p-l-15"></Label>
            </GridLayout>

            <GridLayout columns="75,auto,*" class="detailslist">
                    <button col="2" text="Delivered" class="btndelivered pull-left"></button>
                </GridLayout>

        </StackLayout>
    </StackLayout>
</ScrollView>