<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
    <Label fontsize="22" text="Search" class="action-bar-label pull-left"></Label>

</ActionBar>

<StackLayout class="page">
        <SearchBar hint="Search Eg: Fridge" (clear)="onClear($event)"
        (submit)="onSubmit($event)" (textChange)="onTextChange($event)" class="search-bar"></SearchBar>


    <RadListView id="list-view" [items]="news" separatorColor="transparent">
        <ng-template tkListItemTemplate let-item="item">
                <StackLayout borderBottomWidth="0.5" borderBottomColor="black" class="m-0 p-0" paddingLeft="10" >
                    <Label class="m-0 p-0" fontSize="13" fontWight="500"  text="{{ item.keysearch }}" class="news-title" textWrap="true"></Label>
                    <Label class="m-0 p-0" text="{{ 'In '+item.category }}" class="news-title" textWrap="true"></Label>
                </StackLayout> 
        </ng-template>
    </RadListView>
</StackLayout>