.labelicon {
    text-align:center;
    font-size: 30px;
    margin-top: 47px;
}

.labelfont {
    text-align:center;
    font-size: 15px;
    margin-left: 30px;
    font-family: "Roboto", "Roboto-Light";
}
.stacklayoutcss{
    // background: #e4edf6;
    background:white;
    border-width: 1px;
    border-color: #e2e6ec;
    // border-bottom-s
}



.nearby{
    background: white ;
    // padding: 10px !important;
    border-radius: 5px;
   }


   .add-button {
    background-color: #2874f0;
    width: 70;
    height: 70;
    font-size: 18;
    padding: 0 0 8;
    border-radius: 50%;
    color: #fff;
    margin-right: 15;
    font-weight: 600;
}